*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

main{
    background: #ECFFE0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    max-width: 950px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(223, 223, 223, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.pic{
    width: 115px;
    height: 125px;
}

.t{
    padding-left: 151px;
    padding-right: 151px;
}

.t2{
    padding-left: 50px;
    padding-right: 100px;
}

.t3{
    padding-right: 40px;
}
.img_names{
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.aligncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}